In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
df_pyspark = spark.read.csv('cars.csv', header=True, inferSchema=True)

In [3]:
df_pyspark.show()

+-----+--------------------+------+------+----------+------+
| Make|               Model|  Type|Origin|DriveTrain|Length|
+-----+--------------------+------+------+----------+------+
|Acura|                 MDX|   SUV|  Asia|       All|  4451|
|Acura|      RSX Type S 2dr| Sedan|  Asia|     Front|  2778|
|Acura|             TSX 4dr| Sedan|  Asia|     Front|  3230|
|Acura|              TL 4dr| Sedan|  Asia|     Front|  3575|
|Acura|          3.5 RL 4dr| Sedan|  Asia|     Front|  3880|
|Acura|3.5 RL w/Navigati...| Sedan|  Asia|     Front|  3893|
|Acura|NSX coupe 2dr man...|Sports|  Asia|      Rear|  3153|
| Audi|         A4 1.8T 4dr| Sedan|Europe|     Front|  3252|
| Audi|A41.8T convertibl...| Sedan|Europe|     Front|  3638|
| Audi|          A4 3.0 4dr| Sedan|Europe|     Front|  3462|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3583|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3627|
| Audi|          A6 3.0 4dr| Sedan|Europe|     Front|  3561|
| Audi|  A6 3.0 Quattro 4dr| Sedan|Europe|       All|  3880|
| Audi|A4 3.0 convertibl...| Sedan|Europe|     Front|  3814|
| Audi|A4 3.0 Quattro co...| Sedan|Europe|       All|  4013|
| Audi|A6 2.7 Turbo Quat...| Sedan|Europe|       All|  3836|
| Audi|  A6 4.2 Quattro 4dr| Sedan|Europe|       All|  4024|
| Audi|    A8 L Quattro 4dr| Sedan|Europe|       All|  4399|
| Audi|      S4 Quattro 4dr| Sedan|Europe|       All|  3825|
+-----+--------------------+------+------+----------+------+
only showing top 20 rows

#### Filtering

In [4]:
df_pyspark.filter('Length <= 3000').show()

+---------+--------------------+------+------+----------+------+
|     Make|               Model|  Type|Origin|DriveTrain|Length|
+---------+--------------------+------+------+----------+------+
|    Acura|      RSX Type S 2dr| Sedan|  Asia|     Front|  2778|
|     Audi|TT 1.8 Quattro 2d...|Sports|Europe|       All|  2921|
|      BMW|Z4 convertible 2....|Sports|Europe|      Rear|  2932|
|      BMW|Z4 convertible 3....|Sports|Europe|      Rear|  2998|
|Chevrolet|             Tracker|   SUV|   USA|     Front|  2866|
|Chevrolet|            Aveo 4dr| Sedan|   USA|     Front|  2370|
|Chevrolet|   Aveo LS 4dr hatch| Sedan|   USA|     Front|  2348|
|Chevrolet|        Cavalier 2dr| Sedan|   USA|     Front|  2617|
|Chevrolet|        Cavalier 4dr| Sedan|   USA|     Front|  2676|
|Chevrolet|     Cavalier LS 2dr| Sedan|   USA|     Front|  2617|
|    Dodge|         Neon SE 4dr| Sedan|   USA|     Front|  2581|
|    Dodge|        Neon SXT 4dr| Sedan|   USA|     Front|  2626|
|     Ford| Focus ZX3 2dr hatch| Sedan|   USA|     Front|  2612|
|     Ford|        Focus LX 4dr| Sedan|   USA|     Front|  2606|
|     Ford|        Focus SE 4dr| Sedan|   USA|     Front|  2606|
|     Ford|       Focus ZX5 5dr| Sedan|   USA|     Front|  2691|
|     Ford|       Focus SVT 2dr| Sedan|   USA|     Front|  2750|
|     Ford|           Focus ZTW| Wagon|   USA|     Front|  2702|
|    Honda|Civic Hybrid 4dr ...|Hybrid|  Asia|     Front|  2732|
|    Honda|Insight 2dr (gas/...|Hybrid|  Asia|     Front|  1850|
+---------+--------------------+------+------+----------+------+
only showing top 20 rows

In [5]:
df_pyspark.filter('Length <= 3000').select(['Make', 'Model']).show()

+---------+--------------------+
|     Make|               Model|
+---------+--------------------+
|    Acura|      RSX Type S 2dr|
|     Audi|TT 1.8 Quattro 2d...|
|      BMW|Z4 convertible 2....|
|      BMW|Z4 convertible 3....|
|Chevrolet|             Tracker|
|Chevrolet|            Aveo 4dr|
|Chevrolet|   Aveo LS 4dr hatch|
|Chevrolet|        Cavalier 2dr|
|Chevrolet|        Cavalier 4dr|
|Chevrolet|     Cavalier LS 2dr|
|    Dodge|         Neon SE 4dr|
|    Dodge|        Neon SXT 4dr|
|     Ford| Focus ZX3 2dr hatch|
|     Ford|        Focus LX 4dr|
|     Ford|        Focus SE 4dr|
|     Ford|       Focus ZX5 5dr|
|     Ford|       Focus SVT 2dr|
|     Ford|           Focus ZTW|
|    Honda|Civic Hybrid 4dr ...|
|    Honda|Insight 2dr (gas/...|
+---------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import col

In [16]:
df_pyspark.filter((col('Length')<=3000) & (col('DriveTrain') =='Rear')).select(['Make', 'Model']).show()

+-------+--------------------+
|   Make|               Model|
+-------+--------------------+
|    BMW|Z4 convertible 2....|
|    BMW|Z4 convertible 3....|
|  Honda|S2000 convertible...|
|  Mazda|MX-5 Miata conver...|
|  Mazda|MX-5 Miata LS con...|
|  Mazda|B2300 SX Regular Cab|
|Pontiac|                Vibe|
|Porsche|Boxster convertib...|
|Porsche|Boxster S convert...|
| Toyota|MR2 Spyder conver...|
| Toyota|              Tacoma|
+-------+--------------------+