In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
df_pyspark = spark.read.csv('cars.csv', header=True, inferSchema=True)

In [3]:
df_pyspark.show()

+-----+--------------------+------+------+----------+------+
| Make|               Model|  Type|Origin|DriveTrain|Length|
+-----+--------------------+------+------+----------+------+
|Acura|                 MDX|   SUV|  Asia|       All|  4451|
|Acura|      RSX Type S 2dr| Sedan|  Asia|     Front|  2778|
|Acura|             TSX 4dr| Sedan|  Asia|     Front|  3230|
|Acura|              TL 4dr| Sedan|  Asia|     Front|  3575|
|Acura|          3.5 RL 4dr| Sedan|  Asia|     Front|  3880|
|Acura|3.5 RL w/Navigati...| Sedan|  Asia|     Front|  3893|
|Acura|NSX coupe 2dr man...|Sports|  Asia|      Rear|  3153|
| Audi|         A4 1.8T 4dr| Sedan|Europe|     Front|  3252|
| Audi|A41.8T convertibl...| Sedan|Europe|     Front|  3638|
| Audi|          A4 3.0 4dr| Sedan|Europe|     Front|  3462|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3583|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3627|
| Audi|          A6 3.0 4dr| Sedan|Europe|     Front|  3561|
| Audi|  A6 3.0 Quattro 4dr| Sedan|Europe|       All|  3880|
| Audi|A4 3.0 convertibl...| Sedan|Europe|     Front|  3814|
| Audi|A4 3.0 Quattro co...| Sedan|Europe|       All|  4013|
| Audi|A6 2.7 Turbo Quat...| Sedan|Europe|       All|  3836|
| Audi|  A6 4.2 Quattro 4dr| Sedan|Europe|       All|  4024|
| Audi|    A8 L Quattro 4dr| Sedan|Europe|       All|  4399|
| Audi|      S4 Quattro 4dr| Sedan|Europe|       All|  3825|
+-----+--------------------+------+------+----------+------+
only showing top 20 rows

In [9]:
df_pyspark.groupby(['Make', 'DriveTrain']).avg('Length').show()

+----------+----------+------------------+
|      Make|DriveTrain|       avg(Length)|
+----------+----------+------------------+
|    Subaru|       All|3339.3636363636365|
|      MINI|     Front|            2601.0|
|     Volvo|       All|            3925.2|
|     Mazda|      Rear|            2763.2|
|    Nissan|      Rear|3472.3333333333335|
|   Lincoln|     Front|            4834.0|
|     Acura|       All|            4451.0|
|   Mercury|     Front|            3765.0|
|Mitsubishi|       All|            4426.0|
|       GMC|     Front|            4993.5|
|     Mazda|     Front|            3078.0|
|      Ford|      Rear|3803.4285714285716|
|    Nissan|     Front|           3489.25|
|   Mercury|      Rear|           4087.75|
|Oldsmobile|     Front|3326.3333333333335|
|     Lexus|     Front|            3460.0|
|Mitsubishi|     Front|            3164.0|
|    Nissan|       All|            4609.5|
|  Infiniti|     Front|            3306.0|
|     Acura|      Rear|            3153.0|
+----------+----------+------------------+
only showing top 20 rows

In [10]:
df_pyspark.groupBy('Make').max('Length').show()

+----------+-----------+
|      Make|max(Length)|
+----------+-----------+
|Volkswagen|       5399|
|Oldsmobile|       3948|
|  Infiniti|       4309|
|     Lexus|       5590|
|    Jaguar|       4046|
|    Saturn|       3381|
|     Scion|       2425|
|      Jeep|       3826|
|Mitsubishi|       4718|
|       Kia|       4802|
| Chevrolet|       5678|
|     Volvo|       4638|
|   Hyundai|       3651|
|      Saab|       3700|
|     Honda|       4387|
|      MINI|       2678|
|      Audi|       4399|
|  Cadillac|       5879|
|     Isuzu|       4967|
|   Pontiac|       4431|
+----------+-----------+
only showing top 20 rows

In [12]:
df_pyspark.groupBy('Make').count().show()

+----------+-----+
|      Make|count|
+----------+-----+
|Volkswagen|   15|
|Oldsmobile|    3|
|  Infiniti|    8|
|     Lexus|   11|
|    Jaguar|   12|
|    Saturn|    8|
|     Scion|    2|
|      Jeep|    3|
|Mitsubishi|   13|
|       Kia|   11|
| Chevrolet|   27|
|     Volvo|   12|
|   Hyundai|   12|
|      Saab|    7|
|     Honda|   17|
|      MINI|    2|
|      Audi|   19|
|  Cadillac|    8|
|     Isuzu|    2|
|   Pontiac|   11|
+----------+-----+
only showing top 20 rows

In [13]:
df_pyspark.agg({'Length':'avg'}).show()

+------------------+
|       avg(Length)|
+------------------+
|3577.9532710280373|
+------------------+