In [1]:
import pyspark

In [2]:
import pandas as pd
df_cars = pd.read_csv('cars.csv')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_spark = spark.read.csv('cars.csv')

In [7]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_spark = spark.read.option('header', 'true').csv('cars.csv')

In [12]:
df_spark.show()

+-----+--------------------+------+------+----------+------+
| Make|               Model|  Type|Origin|DriveTrain|Length|
+-----+--------------------+------+------+----------+------+
|Acura|                 MDX|   SUV|  Asia|       All|  4451|
|Acura|      RSX Type S 2dr| Sedan|  Asia|     Front|  2778|
|Acura|             TSX 4dr| Sedan|  Asia|     Front|  3230|
|Acura|              TL 4dr| Sedan|  Asia|     Front|  3575|
|Acura|          3.5 RL 4dr| Sedan|  Asia|     Front|  3880|
|Acura|3.5 RL w/Navigati...| Sedan|  Asia|     Front|  3893|
|Acura|NSX coupe 2dr man...|Sports|  Asia|      Rear|  3153|
| Audi|         A4 1.8T 4dr| Sedan|Europe|     Front|  3252|
| Audi|A41.8T convertibl...| Sedan|Europe|     Front|  3638|
| Audi|          A4 3.0 4dr| Sedan|Europe|     Front|  3462|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3583|
| Audi|A4 3.0 Quattro 4d...| Sedan|Europe|       All|  3627|
| Audi|          A6 3.0 4dr| Sedan|Europe|     Front|  3561|
| Audi|  A6 3.0 Quattro 4dr| Sedan|Europe|       All|  3880|
| Audi|A4 3.0 convertibl...| Sedan|Europe|     Front|  3814|
| Audi|A4 3.0 Quattro co...| Sedan|Europe|       All|  4013|
| Audi|A6 2.7 Turbo Quat...| Sedan|Europe|       All|  3836|
| Audi|  A6 4.2 Quattro 4dr| Sedan|Europe|       All|  4024|
| Audi|    A8 L Quattro 4dr| Sedan|Europe|       All|  4399|
| Audi|      S4 Quattro 4dr| Sedan|Europe|       All|  3825|
+-----+--------------------+------+------+----------+------+
only showing top 20 rows

In [13]:
df_cars.head()

    Make           Model   Type Origin DriveTrain  Length
0  Acura             MDX    SUV   Asia        All    4451
1  Acura  RSX Type S 2dr  Sedan   Asia      Front    2778
2  Acura         TSX 4dr  Sedan   Asia      Front    3230
3  Acura          TL 4dr  Sedan   Asia      Front    3575
4  Acura      3.5 RL 4dr  Sedan   Asia      Front    3880

In [14]:
df_spark.head()

Row(Make='Acura', Model='MDX', Type='SUV', Origin='Asia', DriveTrain='All', Length='4451')

In [15]:
df_spark.printSchema()

root
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- DriveTrain: string (nullable = true)
 |-- Length: string (nullable = true)